/1. Web Service/NewFolder/nbproject/private/
/2.TupleSpace/netbeans/org/nbproject/private/
/2.TupleSpace/netbeans/org/build/
/2.TupleSpace/netbeans/org/dist/
/2.TupleSpace/mozartspace/ClienteTupleSpace/nbproject/private/
/2.TupleSpace/mozartspace/ClienteTupleSpace/build/
/NewFolder/
/2.TupleSpace/mozartspace/TupleSpaceCreator/nbproject/private/
/2.TupleSpace/mozartspace/ClienteTupleSpace copy/